name: Pipeline

on:
  push:
    branches:
      - main

jobs:
  version:
    runs-on: ubuntu-latest
    steps:
      - name: Checar repositório
        uses: actions/checkout@v2
        with: 
          token: ${{ secrets.GIT_TOKEN }}
          fetch-depth: 0
      - name: Configurar Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Instalar dependências
        run: npm install

      - name: Instalar semver
        run: npm install -g semver

      - name: Criar nova tag caso não exista
        id: create_initial_tag
        env:
          GH_TOKEN: ${{ secrets.GIT_TOKEN }}
        run: |
          if [ -z "$(git tag)" ]; then
            git config --global user.name 'github-actions'
            git config --global user.email 'github-actions@github.com'
            git tag -a v0.0.0 -m "Initial release"
            git push origin v0.0.0
          fi

      - name: Calcular nova versão
        id: version
        run: |
          git fetch --tags
          LAST_TAG=$(git describe --tags `git rev-list --tags --max-count=1`)
          if [ -z "$LAST_TAG" ]; then
            LAST_TAG="v0.0.0"
          fi
          echo "Versão Atual: $LAST_TAG"
          
          if [ "$LAST_TAG" = "v0.0.0" ]; then
            COMMITS=$(git log --pretty=format:"%s")
          else
            COMMITS=$(git log ${LAST_TAG}..HEAD --pretty=format:"%s")
          fi
          
          echo "Commits desde a última tag:"
          echo "$COMMITS"
          
          # Inicializando variáveis
          MAJOR=0
          MINOR=0
          PATCH=0
          
          # Analisando mensagens de commit
          for COMMIT in "$COMMITS"; do
            if [[ "$COMMIT" == *"BREAKING CHANGE"* ]]; then
              MAJOR=1
            elif [[ "$COMMIT" == *"feat"* ]]; then
              MINOR=1
            elif [[ "$COMMIT" == *"fix"* ]]; then
              PATCH=1
            fi
          done
          
          # Calculando a nova versão usando semver
          CURRENT_VERSION=${LAST_TAG#v}
          NEW_VERSION=$CURRENT_VERSION
          if [[ $MAJOR -eq 1 ]]; then
            NEW_VERSION=$(semver -i major $CURRENT_VERSION)
          elif [[ $MINOR -eq 1 ]]; then
            NEW_VERSION=$(semver -i minor $CURRENT_VERSION)
          elif [[ $PATCH -eq 1 ]]; then
            NEW_VERSION=$(semver -i patch $CURRENT_VERSION)
          fi
          
          echo "Nova versão: $NEW_VERSION"
          echo "new_version=$NEW_VERSION" >> $GITHUB_ENV

      - name: Atualizar versão no package.json
        run: |
          npm version ${{ env.new_version }} --no-git-tag-version --allow-same-version
          
      - name: Commit e push
        env:
          GH_TOKEN: ${{ secrets.GIT_TOKEN }}
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@github.com'
          git add -A
      
          git commit -m "chore(release): version ${{ env.new_version }}" || echo "Nenhuma alteração para commit"
      
          if git rev-parse "v${{ env.new_version }}" >/dev/null 2>&1; then
            echo "Tag v${{ env.new_version }} já existe, ignorando criação"
          else
            git tag "v${{ env.new_version }}"
            git push origin "v${{ env.new_version }}"
          fi
          
          git push origin main || true

      - name: Login Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: davyribeiro

          password: ${{ secrets.DOCKER_HUB }}

      # Docker Image Docker
      - name: Extrai metadatas para a Imagem Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: davyribeiro/tarefa-cd-ci
          tags: |
            type=raw,value=${{ steps.version.outputs.new_version }}
            type=raw,value=latest

      - name: Build e publicação da Imagem Docker
        id: push
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Deploy via Render API
        env:
          RENDER_API_KEY: ${{secrets.RENDER_API_KEY}}
          SERVICE_ID: ${{secrets.SERVICE_ID}}
        run: |
            echo "Criando payload para deploy da versão latest"

            PAYLOAD=$(jq -n \
              --arg image "docker.io/davyribeiro/tarefa-cd-ci:latest" \
              --arg version "latest" \
              '{
                clearCache: "clear",
                imageUrl: $image,
                overrideImage: true,
                imagePullPolicy: "Always"
              }'
            )

            echo "Payload JSON gerado:"
            echo "$PAYLOAD" | jq .

            echo "Iniciando deploy no Render..."

            RESPONSE=$(curl -i -s -X POST \
              "https://api.render.com/v1/services/$SERVICE_ID/deploys" \
              -H "Accept: application/json" \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RENDER_API_KEY" \
              -d "$PAYLOAD"
            )

            echo "Resposta completa:"
            echo "$RESPONSE"

            HTTP_STATUS=$(echo "$RESPONSE" | grep HTTP | awk '{print $2}')

            echo "Status da resposta HTTP: $HTTP_STATUS"

            if [[ "$HTTP_STATUS" =~ ^2[0-9]{2}$ ]]; then
              echo "Deploy iniciado com sucesso!"
            else
              echo "Falha no deploy!"
              exit 1
            fi
      
